services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: film_app
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      TZ: Europe/Istanbul
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d film_app"]
      interval: 5s
      timeout: 3s
      retries: 20

  web:
    build: .
    ports:
      - "5002:5000"
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/film_app
      AUTO_WARMUP: "0"
      TZ: Europe/Istanbul
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - models:/models
    restart: unless-stopped



volumes:
  pgdata:
  models:
